[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

"psycopg2" = "*"
openpyxl = "*"
"boto3" = "*"
apscheduler = "*"


[dev-packages]



[requires]

python_version = "3.6"
